spring:
  datasource:
    url: ${DB_URL}
    username: ${DB_USER_NAME}
    password: ${DB_PASSWORD}
    driver-class-name: com.mysql.cj.jdbc.Driver
  security:
    oauth2:
      client:
        registration:
          google:
            client-id: ${GOOGLE_CLIENT_ID}
            client-secret: ${GOOGLE_CLIENT_SECRET}
            scope:
              - profile
              - email
      # 운영 환경 배포 시 환경변수로 https://sss-gread.duckdns.org 를 넣어주세요.
      front-redirect-uri: ${FRONT_REDIRECT_URI:http://localhost:3000}
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect
        show_sql: true
        format_sql: false
    open-in-view: false

server:
  forward-headers-strategy: native
  # 실제 서버가 8080에서 돌아간다면 아래 설정이 프록시 환경에서 도움이 됩니다.
  tomcat:
    remoteip:
      remote-ip-header: x-forwarded-for
      protocol-header: x-forwarded-proto

output:
  ansi:
    enabled: always

jwt:
  secret: ${JWT_SECRET}
  access-token-validity-in-milliseconds: ${ACCESS_TOKEN_VALIDITY_IN_MILLISECONDS}

cors:
  # 여러 도메인을 쉼표로 구분하여 환경변수로 관리할 수 있게 설정
  allowed-origins: ${CORS_ALLOWED_ORIGINS:http://localhost:3000,https://sss-gread.duckdns.org}

logging:
  level:
    root: info
    com.example.gread: debug